@charset "utf-8";

.btn {
    background-color: DodgerBlue; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 18px;
    font-family: 'Gaegu', cursive; 
    cursor: pointer; 
    border-radius: 50px;
}


.btn:hover {
    background-color: RoyalBlue;
}